.pswd-new-page {
  background-image: url("/public/images/background-image-rocketdev.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pswd-new-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pswdnewform {
  background-color: #34399c;
  width: 35rem;
  padding: 2rem;
  border-radius: 2rem;
  border: 3px solid #b43787;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pswdnewform h1 {
  margin-bottom: 1rem;
  color: #b43787;
  font-size: 2.5rem;
}

.pswdnewform a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}
form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

input {
  width: 80%;
  padding: 24px 20px;
  border-radius: 2rem;
  border: none;
}

input[type="submit"] {
  width: 50%;
  padding: 24px 20px;
  background-color: #b43787;
  color: #fff;
  font-weight: bold;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
}
