.person-view-container {
  background-image: url("/public/images/background-image-rocketdev.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 2rem;
  margin: 0 auto;
  width: 100vw;
}

.portfolio-person {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 2rem;
}

.portfolio-person h1 {
  color: #b43787;
}

.person-img {
  height: 30rem;
  border-radius: 20rem;
  border: 8px solid #34399c;
  gap: 2rem;
  margin-bottom: 2rem;
}

.person-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 2rem;
  gap: 2rem;
}

.portfolio-person p {
  font-size: 1.5rem;
}

.person-about p {
  font-size: 1.5rem;
  width: 40%;
  margin-bottom: 2rem;
  gap: 2rem;
}

.person-skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 2rem;
}

.list-items {
  font-size: 2rem;
}

.person-hobby {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 2rem;
}

.hobby {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}
