body {
  background-image: url("/public/images/background-image-rocketdev.png");
}

.place-holder {
  display: flex;
  margin: 0 auto;
}

img {
  max-width: 50rem;
  max-height: 50rem;
}

.place-holder2 {
  display: flex;
}

.place-holder2 > h2,
p {
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
}

.place-holder3 {
  display: flex;
}

.place-holder4 {
  display: flex;
}
